x-airflow-common:
  &airflow-common
  build: .
  env_file:
    - .env
  environment:
    &airflow-common-env
    AIRFLOW__CORE__EXECUTOR: LocalExecutor
    AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres/airflow
    AIRFLOW__CORE__FERNET_KEY: '6r2pK5gLEUmyfZFev3MHGD3eOqlXiY3jZoZN4ggJHCk='
    AIRFLOW__WEBSERVER__SECRET_KEY: '54c71d8c5cd1f363e7c35a1ca27dfc04d8715b290d8d276b1c75efcebe6f9526'
    AIRFLOW__CORE__LOAD_EXAMPLES: 'false'
    AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION: 'false'
    AIRFLOW__API__AUTH_BACKENDS: 'airflow.api.auth.backend.session'

    AIRFLOW_CONN_POSTGRES_SOURCE: >
      postgresql+psycopg2://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:5432/${POSTGRES_DB}

    # ✅ SQL Server no Windows (porta 1450) com usuário sa
    AIRFLOW_CONN_MSSQL_TARGET: >
      mssql+pyodbc://sa:${MSSQL_PASSWORD}@host.docker.internal:1450/DataWarehouse
      ?driver=ODBC+Driver+18+for+SQL+Server&TrustServerCertificate=yes

  volumes:
    - ./dags:/opt/airflow/dags:ro
    - ./logs:/opt/airflow/logs
    - ./plugins:/opt/airflow/plugins
    - ./data:/opt/airflow/data

  depends_on:
    postgres:
      condition: service_healthy

services:

  postgres:
    image: postgres:16
    container_name: airflow-postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    volumes:
      - postgres-db-volume:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "airflow"]
      interval: 10s
      retries: 5
      start_period: 5s
    restart: always

  airflow-webserver:
    <<: *airflow-common
    command: webserver
    ports:
      - "8080:8080"
    restart: always
    depends_on:
      airflow-init:
        condition: service_completed_successfully
      postgres:
        condition: service_healthy

  airflow-scheduler:
    <<: *airflow-common
    command: scheduler
    restart: always
    depends_on:
      airflow-init:
        condition: service_completed_successfully
      postgres:
        condition: service_healthy

  airflow-init:
    <<: *airflow-common
    command: >
      bash -c "
        airflow db migrate &&
        airflow users create --username ${AIRFLOW_ADMIN_USER} --password ${AIRFLOW_ADMIN_PASSWORD} --firstname Admin --lastname User --role Admin --email ${AIRFLOW_ADMIN_EMAIL}
      "
    restart: on-failure
    depends_on:
      postgres:
        condition: service_healthy

volumes:
  postgres-db-volume:
