# As versões de 'apache-airflow-providers-postgres', 'psycopg2-binary', 'pyodbc' e 'sqlalchemy'
# são gerenciadas pelo arquivo de restrições do Airflow para garantir compatibilidade.
# Apenas bibliotecas de análise de dados e outras não diretamente ligadas ao core do Airflow são listadas aqui.
apache-airflow-providers-postgres
pandas
numpy
openpyxl
xlsxwriter
fastparquet
pyarrow
python-dotenv
streamlit
plotly